# See http://help.github.com/ignore-files/ for more about ignoring files.



# dependencies
/frontend/node_modules
/backend/node_modules


# IDEs and editors
/backend/.idea
/backend/.project
/backend/.classpath
/backend/.c9/
/backend/*.launch
/backend/.settings/
/backend/*.sublime-workspace

/frontend/.idea
/frontend/.project
/frontend/.classpath
/frontend/.c9/
/frontend/*.launch
/frontend/.settings/
/frontend/*.sublime-workspace

# IDE - VSCode
/backend/.vscode/*
/backend/!.vscode/settings.json
/backend/!.vscode/tasks.json
/backend/!.vscode/launch.json
/backend/!.vscode/extensions.json

/frontend/.vscode/*
/frontend/!.vscode/settings.json
/frontend/!.vscode/tasks.json
/frontend/!.vscode/launch.json
/frontend/!.vscode/extensions.json

# misc
/backend/.sass-cache
/backend/connect.lock
/backend/coverage
/backend/libpeerconnection.log
/backend/npm-debug.log
/backend/testem.log
/backend//typings

/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage
/frontendconnection.log
/frontend/npm-debug.log
/frontend/testem.log
/frontend//typings


# System Files
/backend/.DS_Store
/backend/Thumbs.db